body {
    background-color: #000; /* Черный фон */
    color: #fff;            /* Белый текст */
    font-family: sans-serif; /* Приятный шрифт без засечек */
    margin: 0;
    padding: 20px;          /* Чтобы текст не прилипал к краям экрана */
}

/* Чтобы ссылки тоже были видны на черном фоне */
a {
    color: #4da6ff;
}